/* BEGINNING_BACKGROUND */
    div.background-image {
        width: 100%; 
        height: 100%; 
        background-attachment: fixed; 
        background-size: cover;
        position: fixed;
    }
    div.background-color {
        background: rgba(0, 0, 0, 0.2);
        position: fixed;
        width: 100%;
        height: 100%;
    }
/* END_BACKGROUND */



div.body1 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    z-index: 8;
}



/* BEGINNING_NAVBAR */
    .tab {
        position: sticky; 
        top: 0px;
        margin-bottom: 11px;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 9;

        transition: top 0.3s;
    }
    .tab-2 {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
        background-color: #ffffff99;
        border-radius: 12px;
        backdrop-filter: blur(20px);
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        overflow: hidden;
    }
    .tab button.tablinks {
        background: none;
        font-size: 25px;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        border-radius: 99px;
        font-weight: bold;
        color: black;
    }
    .tab button.tablinks:hover {
        color: #2EC4B6;
    }
    .tab button.tablinks.active {
        color: #2EC4B6; 
        background-color: rgba(255, 255, 255, 0.3);
    }
/* END_NAVBAR */



/* SEARCH BAR */
    .search-box{
        position: relative;
      }
    .input-search{
      height: 85%;
      margin-top: 4px;
      width: 50px;
      border-style: none;
      padding: 10px;
      font-size: 18px;
      outline: none;
      transition: all .3s ease-in-out;
      background-color: transparent;
      padding-right: 40px;
      border-radius: 12px;
      color: black;
    }
    .input-search::placeholder{
      color:rgba(57, 57, 57, 0.648);
      font-size: 18px;
      font-weight: 100;
    }
    .btn-search{
      width: 50px;
      height: 100%;
      border-style: none;
      font-size: 20px;
      font-weight: bold;
      outline: none;
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      right: 0px;
      color:#ffffff ;
      background-color:transparent;
      pointer-events: painted;  
    }
    .btn-search:focus ~ .input-search{
      width: 300px;
      background-color: white;
    }
    .input-search:focus{
      width: 300px;
      background-color: white;
    }
/* SEARCH BAR */



/* ARTICLE */
    .tabcontent {
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 25px;
        padding: 25px;
        display: none;
        animation: fadeEffect 0.45s;
    }
    .tabcontent:hover {
        background-color: white;
    }
    /* Go from zero to full opacity */
    @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
    }
    .articlefood {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
/* END_ARTICLE */



/* TAG */
    div.spacer {
      background-color: #72767a;
      width: 1px;
      height: 20px;
      margin: 0 10px;
    }

    .tagdiv {
      align-items: center;
      display: none;
      margin-left: auto;
      animation: fadeEffect 0.4s;
    }
    article.tabcontent:hover div.tagdiv {
    display: flex;
    }
    .tagele {
      padding: 5px;
      border-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
    div.tagele h4::before {
      content: "";
      display: inline-flex;
      height: 13px;
      width: 13px;
      margin-right: 5px;
      background-image: url(../the-base/images/icons/tag.svg);
      background-size: cover;
      align-items: center;
    }
/* TAG */



/* MORE OPTION DANS LES ARTICLES */
    .accordion {
        color: #5F6368;
        display: contents;
        margin-left: auto;
        margin-right: auto;

        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        border-radius: 20px;
        padding: 4px 16px;
        padding: 18px;
      }
    .active, .accordion:hover {
        color: black;
    }
    .panel {
        display: none;
        overflow: hidden;
        width: 100%;
        margin-top: 7px;
    }
    .tabcontent img {
        margin-top: 10px;
        object-fit: cover;
        width: 100%;
        height: 423px;
    }
/* MORE OPTION DANS LES ARTICLES */



/* Slideshow / Carousel */
    .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }

    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    span.active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
    }
    
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
/* Slideshow / Carousel */



/* Image ZOOM */
    /* Style the Image Used to Trigger the Modal */
    #myImg {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 100; /* Sit on top */
      padding-top: 60px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    
    /* Modal Content (Image) */
    .modal-content {
      margin: auto;
      display: block;
      object-fit: contain;
      max-width: 90%;
      max-height: 90%;
    }
    
    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
    }
    
    @keyframes zoom {
      from {transform:scale(0)}
      to {transform:scale(1)}
    }
    
    /* The Close Button */
    span.close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 75px;
      font-weight: bold;
      transition: 0.3s;
    }
    
    span.close:hover,
    span.close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
    
    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
      .modal-content {
        width: 100%;
      }
    }
/* Image ZOOM */



/* GRID OPTION */
    .btn {
      border: none;
      outline: none;
      padding: 12px 16px;
      background-color: #f1f1f1;
      cursor: pointer;
    }

    .btn:hover {
      background-color: #ddd;
    }

    .btn.activebt {
      background-color: #666;
      color: white;
    }
/* GRID OPTION */
